<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    

    <!-- Nav bar section -->

    <div class="nav">

        <div>
            <a href="./home.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./loginregister.html" id="displayuser">Login/Sign Up</a>
        </div>
       
    </div>


<!-- about page code -->

    <div class="detailssection">

        <h2>Welcome to My Application</h2>

        <div>
            <h3>Project-Documentation : <span> I have segregate my work into different parts and then links them all to make a fully function Full Stack application.</span></h3>
           
            <h3>Front-End : <span>It contains a user friendly GUI. Where user can register himself as well as can login into systym using his/her crendentials.</span></h3>
            <h3>Backend : <span>It contains the backend code from where user is accessing and storing information.</span></h3>
        
        </div>

        <div>

            <h4>Modules in Front End</h4>
    
    
             <ul>
                <li> <span>Home.html : </span>It contains all front end GUI of Home Page.</li>
                <li><span> About.html : </span> It contains all details regarding Application.</li>
                <li><span>Login/Register.html : </span>  It contains all front end GUI of User login and registration.</li>
                <li><span>Style.css :</span>  It contains all the styling part for front end.</li>
                <li><span>Index.js :</span>  It contains all the controlling code for front end and using that i am interacting with my backend.</li>
    
            </ul>



            <h4>Module in BackEnd</h4>

            <ul>
                <li><span>Routes :</span>  It contains all the routes where we are making http request for CRUD operations.</li>
                <li><span>Model :</span>  It contains Database Structure and Connection of database with MongoDB Atlas.</li>
                <li><span>Middleware :</span>  It contains all the Validator middlewares, Authentication and Logger Middlewares.</li>
                <li><span>Server :</span>  It connects all the MVC part and make a connection beetween Front end and Backend.</li>
            </ul>

            <h4>External Modules</h4>

            <ul>
                <li><span> Express :</span> It's used to make API request to our server.</li>
                <li><span>Mongoose :</span> It is used for making a connection beetween MongoDB Atlas and our Application.</li>
                <li><span>Cors :</span> It enables the cross origin connection so we can make request from our Front end to Backend.</li>
                <li><span>Morgan :</span> It's used for storing the information regarding the users Activities.</li>
                <li><span>DotEnv :</span> It's used for making important information Confidential in our Application.</li>
            </ul>


        </div>


       

    </div>


</body>
</html>

<script src="./index.js"></script>